PORT=5000
DB_USER=task_manager_api_dwr8_user
DB_HOST=dpg-d34hikripnbc73801kb0-a
DB_HOSTNAME=dpg-d34hikripnbc73801kb0-a.oregon-postgres.render.com
DB_NAME=task_manager_api_dwr8
DB_NAME_TEST=task_manager_test
DB_PASSWORD=3mVI7ut1VjsNMCm3t3XCkfrtq4SQ08Ju
DB_PORT=5432
JWT_SECRET=super_secret_key
JWT_EXPIRES_IN=1d
NODE_ENV=development